:root {
  --primary-color: #0ca3e7;
  --secondary-color: #86d9fe;
  --plain: #ffffff;
  --dark: #0a0a0a;
  --dark-blue: #102442;
  --dark-blue-transparent: #102442b7;
  --box-shadow-1:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  --box-shadow-0: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
